version: '3.4'

services:

    web:
        image: ${WEB_CONTAINER_IMAGE:-api-mmpi/web}
        container_name: ${WEB_CONTAINER_NAME:-api-mmpi}-${APP_ENV}
        build:
            context: docker/web
            args:
                timezone: ${APP_TIMEZONE}
        ports:
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_SSH_PORT:-22}:22
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_HTTP_PORT:-80}:80
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_HTTPS_PORT:-443}:443
        volumes:
            - ${WEB_CONTAINER_VOLUME}:/var/www/html
        working_dir: /var/www/html
        restart: always
        healthcheck:
            test: ["CMD", "pgrep", "apache2"]
            interval: 5s
            timeout: 10s
            retries: 10
            start_period: 15s

    scheduler:
        image: ${WEB_CONTAINER_IMAGE:-api-mmpi/web}
        container_name: ${WEB_CONTAINER_NAME:-api-mmpi}-${APP_ENV}-scheduler
        volumes:
            - ${WEB_CONTAINER_VOLUME}:/var/www/html
        environment:
            CONTAINER_ROLE: scheduler
        depends_on:
            - web
        restart: always
        healthcheck:
            test: ["CMD", "pgrep", "-f", "sleep 60"]
            interval: 60s
            timeout: 10s
            retries: 10
            start_period: 15s

    queue:
        image: ${WEB_CONTAINER_IMAGE:-api-mmpi/web}
        container_name: ${WEB_CONTAINER_NAME:-api-mmpi}-${APP_ENV}-queue
        volumes:
            - ${WEB_CONTAINER_VOLUME}:/var/www/html
        environment:
            CONTAINER_ROLE: queue
        depends_on:
            - web
        restart: always
        healthcheck:
            test: ["CMD", "pgrep", "-f", "php artisan queue:work"]
            interval: 1m
            timeout: 10s
            retries: 10
            start_period: 15s
