version: '3.4'

services:

    apache:
        image: ${APACHE_CONTAINER_IMAGE}
        container_name: ${APACHE_CONTAINER_NAME}
        build: docker/apache
        ports:
            - ${APACHE_CONTAINER_IP}:${APACHE_CONTAINER_HTTP_PORT}:80
            - ${APACHE_CONTAINER_IP}:${APACHE_CONTAINER_HTTPS_PORT}:443
        volumes:
            - ${APACHE_CONTAINER_VOLUME}:/var/www/html
        depends_on:
            - php

    php:
        image: ${PHP_CONTAINER_IMAGE}
        container_name: ${PHP_CONTAINER_NAME}
        build: docker/php
        ports:
            - ${APACHE_CONTAINER_IP}:${APACHE_CONTAINER_SSH_PORT}:22
        volumes:
            - ${APACHE_CONTAINER_VOLUME}:/var/www/html

    scheduler:
        image: ${PHP_CONTAINER_IMAGE}
        container_name: ${PHP_CONTAINER_NAME}-scheduler
        volumes:
            - ${APACHE_CONTAINER_VOLUME}:/var/www/html
        environment:
            CONTAINER_ROLE: scheduler
        depends_on:
            - php

    queue:
        image: ${PHP_CONTAINER_IMAGE}
        container_name: ${PHP_CONTAINER_NAME}-queue
        volumes:
            - ${APACHE_CONTAINER_VOLUME}:/var/www/html
        environment:
            CONTAINER_ROLE: queue
        depends_on:
            - php

    elasticsearch:
        image: ${ELASTIC_CONTAINER_IMAGE}
        container_name: ${ELASTIC_CONTAINER_NAME}
        build: docker/elasticsearch
        volumes:
            - ${ELASTIC_CONTAINER_VOLUME}:/usr/share/elasticsearch/data
        environment:
            TZ: ${APP_TIMEZONE}
            discovery.type: single-node

    kibana:
        image: ${KIBANA_CONTAINER_IMAGE}
        container_name: ${KIBANA_CONTAINER_NAME}
        build: docker/kibana
        ports:
            - ${KIBANA_CONTAINER_HTTP_PORT}:5601
