version: '3.3'

services:

    nginx:
        build: docker/nginx
        container_name: mmpi-api_nginx
        ports:
            - 8111:80
        volumes:
            - .:/var/www
        depends_on:
            - mysql
        networks:
            - local

    php:
        build: docker/php
        container_name: mmpi-api_php
        expose:
            - 9000
        volumes:
            - .:/var/www
        working_dir: /var/www
        depends_on:
            - mysql
        networks:
            - local
        environment:
            XDEBUG_CONFIG: remote_host=10.8.5.71

    mysql:
        build: docker/mysql
        container_name: mmpi-api_mysql
        environment:
            - MYSQL_DATABASE=mmpi
            - MYSQL_USER=mmpi
            - MYSQL_PASSWORD=mmpi
            - MYSQL_ALLOW_EMPTY_PASSWORD=1
            - MYSQL_ROOT_HOST=%
        volumes:
            - ./db/mysql:/var/lib/mysql
        networks:
            - local

networks:
    local:
        driver: bridge
