{
  "openapi": "3.0.1",
  "info": {
    "description": "MMPI API",
    "version": "1",
    "title": "MMPI API"
  },
  "servers": [
    {
      "url": "http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"
    },
    {
      "url": "http:\/\/localhost:8111\/api\/v1\/"
    }
  ],
  "security": [
    {
      "api_key": [

      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "api_key": {
        "in": "header",
        "name": "X-AUTH-TOKEN",
        "type": "apiKey"
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "description": "Limit results. It is ignored when pagination is used",
          "example": 50
        }
      },
      "order_by": {
        "name": "order_by",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Order results by given property"
        }
      },
      "order_dir": {
        "name": "order_dir",
        "in": "query",
        "schema": {
          "type": "string",
          "description": "Direction to use when ordering results",
          "enum": [
            "asc",
            "desc"
          ]
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "description": "Return given page from paginated results"
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "description": "Set results per page",
          "example": 15
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "schema": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          ],
          "description": "Return only listed fields in results",
          "example": "field1, field2"
        }
      }
    }
  }
}
