{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"},{"url":"http:\/\/localhost:8111\/api\/v1\/"}],"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"in":"header","name":"X-AUTH-TOKEN","type":"apiKey"}},"parameters":{"limit":{"name":"limit","in":"query","schema":{"type":"integer","description":"Limit results. It is ignored when pagination is used","example":50}},"order_by":{"name":"order_by","in":"query","schema":{"type":"string","description":"Order results by given property"}},"order_dir":{"name":"order_dir","in":"query","schema":{"type":"string","description":"Direction to use when ordering results","enum":["asc","desc"]}},"page":{"name":"page","in":"query","schema":{"type":"integer","description":"Return given page from paginated results"}},"per_page":{"name":"per_page","in":"query","schema":{"type":"integer","description":"Set results per page","example":15}},"fields":{"name":"fields","in":"query","schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"description":"Return only listed fields in results","example":"field1, field2"}}},"schemas":{"User":{"type":"object","description":"User object","properties":{"name":{"type":"string","description":"User full name","example":"John Doe","maxLength":256},"username":{"type":"string","description":"User username","example":"jdoe","maxLength":50},"email":{"type":"string","description":"User email","example":"jdoe@codix.fr","format":"email","maxLength":50},"password":{"type":"string"},"sid":{"type":"string","maxLength":60},"sidfr":{"type":"string","maxLength":60},"uidnumber":{"type":"integer"},"status":{"type":"integer"},"department":{"type":"string","description":"User department","example":"Enterprise Applications"},"access_group":{"type":"string","description":"User access group","example":"developers"},"manager":{"type":"string","description":"Manager username","example":"ivasilev"},"deputy":{"type":"string","description":"Deputy username","example":"ivasilev"}}},"Hash":{"type":"object","description":"Hash object","additionalProperties":false,"required":["branch","owner","rev"],"properties":{"branch":{"type":"string","description":"Branch name","example":"default"},"owner":{"type":"string","description":"Should be valid username","example":"mmpi_auto"},"rev":{"type":"string","description":"Version control system revision hash","example":"891b688fe1a49c5383de94c26717c8c3b7c47ab48","pattern":"^[0-9a-z]*$"},"chains":{"type":"array","description":"List with delivery chanis","example":["bcol_imx_v9_rel","bpi_imx_v9_rel"],"items":{"type":"string"}},"description":{"type":"string","description":"Description of changes"},"files":{"type":"array","description":"List with changed files in this revision","example":["BundlesResourceTest.java","ITitleDao.java"],"items":{"type":"string"}},"merge_branch":{"type":"string","description":"Branch name changes are merged to","example":"_DEV_IXDEV-4271_e_funding_in_bundles"},"module":{"type":"string","description":"Repository name","example":"imx_be"},"repo_path":{"type":"string","description":"Repository path","example":"extranet\/hg\/v9_be"},"repo_url":{"type":"string","description":"Repository URL","example":"http:\/\/lemon.codixfr.private:6002\/v9_be","format":"url"}}}}},"paths":{"\/users":{"get":{"description":"Get users list","operationId":"users.list","tags":["users"],"parameters":[{"name":"name","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/name"}},{"name":"username","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/username"}},{"name":"email","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/email"}},{"name":"department","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/department"}},{"name":"manager","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/manager"}},{"name":"deputy","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/deputy"}},{"name":"sid","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/sid"}},{"name":"sidfr","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/sidfr"}},{"name":"uidnumber","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/uidnumber"}},{"name":"status","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/status"}},{"name":"access_group","in":"query","schema":{"$ref":"#\/components\/schemas\/User\/properties\/access_group"}},{"name":"order_by","in":"query","schema":{"allOf":[{"$ref":"#\/components\/parameters\/order_by\/schema"},{"enum":["name","username","email","password","sid","sidfr","uidnumber","status","department","access_group","manager","deputy"]}]}},{"$ref":"#\/components\/parameters\/order_dir"},{"$ref":"#\/components\/parameters\/limit"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/per_page"},{"$ref":"#\/components\/parameters\/fields"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of resource entries","items":{"$ref":"#\/components\/schemas\/User"}},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/users\/{username}":{"get":{"description":"Get single user","operationId":"users.one","tags":["users"],"parameters":[{"name":"username","in":"path","schema":{"$ref":"#\/components\/schemas\/User\/properties\/username"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/User"},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes":{"get":{"description":"Get hashes list","operationId":"hashes.list","tags":["hashes"],"parameters":[{"name":"rev","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/rev"}},{"name":"owner","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/owner"}},{"name":"repo_url","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/repo_url"}},{"name":"repo_path","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/repo_path"}},{"name":"branch","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/branch"}},{"name":"merge_branch","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/merge_branch"}},{"name":"module","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/module"}},{"name":"description","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/description"}},{"name":"made_on","in":"query","schema":{"type":"string"}},{"name":"files","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/files"}},{"name":"chains","in":"query","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/chains"}},{"name":"order_by","in":"query","schema":{"allOf":[{"$ref":"#\/components\/parameters\/order_by\/schema"},{"enum":["branch","owner","rev","chains","description","files","merge_branch","module","repo_path","repo_url"]}]}},{"$ref":"#\/components\/parameters\/order_dir"},{"$ref":"#\/components\/parameters\/limit"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/per_page"},{"$ref":"#\/components\/parameters\/fields"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of resource entries","items":{"$ref":"#\/components\/schemas\/Hash"}},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"post":{"description":"Create new hash","operationId":"hashes.create","tags":["hashes"],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Hash"}}}},"responses":{"201":{"description":"Created","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Hash"},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes\/{rev}":{"get":{"description":"Get single hash","operationId":"hashes.one","tags":["hashes"],"parameters":[{"name":"rev","in":"path","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/rev"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Hash"},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"put":{"description":"Update hash","operationId":"hashes.update","tags":["hashes"],"parameters":[{"name":"rev","in":"path","schema":{"$ref":"#\/components\/schemas\/Hash\/properties\/rev"},"required":true}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Hash"}}}},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Hash"},"meta":{"type":"object","description":"Meta data for this request"}}}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"delete":{"description":"Delete hash","operationId":"hash.delete","tags":["hashes"],"parameters":[{"name":"rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"Deleted","content":{"text\/html":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}}}}