version: '3.3'

services:

    web:
        image: ${WEB_CONTAINER_IMAGE:-api-mmpi/web}
        container_name: ${WEB_CONTAINER_NAME:-api-mmpi}-${APP_ENV}
        build:
            context: web
            args:
                BACKUP2_IP_ARG: 192.9.202.186
        stdin_open: true
        ports:
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_SSH_PORT:-22}:22
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_HTTP_PORT:-80}:80
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_HTTPS_PORT:-443}:443
            - ${WEB_CONTAINER_IP}:${WEB_CONTAINER_MYSQL_PORT:-3306}:3306
        volumes:
            - ${WEB_CONTAINER_SRC_VOLUME:-../.}:/enterprise/src
            - ${WEB_CONTAINER_DB_VOLUME:-../../db}:/enterprise/mysql-data
        working_dir: /enterprise/src
        restart: always
