{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"}],"paths":{"\/":{"get":{"description":"","tags":[],"parameters":[],"responses":{"200":{"description":"OK"}}}},"\/api\/v1\/users":{"get":{"description":"","tags":[],"parameters":[],"responses":{"200":{"description":"OK"}}},"post":{"description":"Create new user","tags":[],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-users-create.json"},"required":true}],"responses":{"200":{"description":"OK"}}}},"\/api\/v1\/users\/{id}":{"get":{"description":"","tags":[],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}}},"put":{"description":"","tags":[],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}}},"delete":{"description":"","tags":[],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}}}},"\/api\/v1\/hashes":{"get":{"description":"","tags":[],"parameters":[],"responses":{"200":{"description":"OK"}}},"post":{"description":"Register new hash","tags":[],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"required":true}],"responses":{"200":{"description":"OK"}}}},"\/api\/v1\/hashes\/{hash_rev}":{"get":{"description":"","tags":[],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}}},"put":{"description":"","tags":[],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-update.json"},"required":true}],"responses":{"200":{"description":"OK"}}},"delete":{"description":"","tags":[],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"api-v1-users-create.json":{"type":"object","additionalProperties":false,"required":["name","email","password"],"properties":{"name":{"type":"string","maxLength":50},"email":{"type":"string","format":"email"},"password":{"type":"string"}}},"api-v1-hashes-create.json":{"type":"object","additionalProperties":false,"required":["branch","owner","rev"],"properties":{"branch":{"type":"string","example":"default"},"owner":{"type":"string","$filters":{"$func":"checkInDb","$vars":{"rule":"exists:users,username"}},"messages":{"$filters":"Owner should be valid username"}},"rev":{"type":"string","pattern":"^[0-9a-z]*$","$filters":{"$func":"checkInDb","$vars":{"rule":"unique:hash_commits,hash_rev"}},"messages":{"pattern":"Revision can content only numbers and lowercase letters","$filters":"Revision is already reqistred"}},"chains":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"files":{"type":"array","items":{"type":"string"}},"merge_branch":{"type":"string"},"module":{"type":"string"},"repo_path":{"type":"string"},"repo_url":{"type":"string","format":"url"}}},"api-v1-hashes-update.json":{"type":"object","additionalProperties":false,"description":"Search for media in a given area. The default time span is set to 5 days. The time span must not exceed 7 days. Defaults time stamps cover the last 5 days. Can return mix of `image` and `video` types.","required":["branch","owner"],"properties":{"branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/branch"},"owner":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/owner"},"chains":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/chains"},"description":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/description"},"files":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/files"},"merge_branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/merge_branch"},"module":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/module"},"repo_path":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_path"},"repo_url":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_url"}}}}}}