{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"}],"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"in":"header","name":"X-AUTH-TOKEN","type":"apiKey"},"basic_auth":{"type":"http","scheme":"basic"}},"schemas":{"responses-success":{"type":"object","properties":{"data":{"description":"List of media entries","items":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"type":"array"}}},"api-v1-hashes-create.json":{"type":"object","additionalProperties":false,"description":"","required":["branch","owner","rev"],"properties":{"branch":{"type":"string","example":"default"},"owner":{"type":"string","description":"Should be valid username"},"rev":{"type":"string","pattern":"^[0-9a-z]*$"},"chains":{"type":"array","description":"List with delivery chanis","items":{"type":"string"}},"description":{"type":"string"},"files":{"type":"array","description":"List with changed files in this revision","items":{"type":"string"}},"merge_branch":{"type":"string"},"module":{"type":"string"},"repo_path":{"type":"string"},"repo_url":{"type":"string","format":"url"}}},"api-v1-hashes-update.json":{"type":"object","additionalProperties":false,"description":"","required":["branch","owner"],"properties":{"branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/branch"},"owner":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/owner"},"chains":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/chains"},"description":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/description"},"files":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/files"},"merge_branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/merge_branch"},"module":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/module"},"repo_path":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_path"},"repo_url":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_url"}}}}},"paths":{"\/hashes":{"get":{"description":"Get hashes list","operationId":"hashes.list","tags":["hashes"],"parameters":[],"responses":{"200":{"description":"Users media entries.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/"}}}}},"201":{"description":"Created"},"404":{"description":"Not found"},"422":{"description":"Unprocessable Entity"}},"security":[{"api_key":[]}]},"post":{"description":"Create new hash","operationId":"hashes.create","tags":["hashes"],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"required":true}],"responses":{"200":{"description":"Users media entries.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"}}}}},"201":{"description":"Created"},"404":{"description":"Not found"},"422":{"description":"Unprocessable Entity"}},"security":[{"api_key":[]}]}},"\/hashes\/{hash_rev}":{"get":{"description":"Get single hash","operationId":"hashes.one","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Users media entries.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/"}}}}},"201":{"description":"Created"},"404":{"description":"Not found"},"422":{"description":"Unprocessable Entity"}},"security":[{"api_key":[]}]},"put":{"description":"Update hash","operationId":"hashes.update","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-update.json"},"required":true}],"responses":{"200":{"description":"Users media entries.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/api-v1-hashes-update.json"}}}}},"201":{"description":"Created"},"404":{"description":"Not found"},"422":{"description":"Unprocessable Entity"}},"security":[{"api_key":[]}]},"delete":{"description":"Delete hash","operationId":"hash.delete","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Users media entries.","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/"}}}}},"201":{"description":"Created"},"404":{"description":"Not found"},"422":{"description":"Unprocessable Entity"}},"security":[{"api_key":[]}]}}}}