{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"},{"url":"http:\/\/localhost:8111\/api\/v1\/"}],"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"in":"header","name":"X-AUTH-TOKEN","type":"apiKey"}},"schemas":{"api-v1-users-user.json":{"type":"object","description":"User object","properties":{"name":{"type":"string","maxLength":256},"username":{"type":"string","maxLength":50},"email":{"type":"string","format":"email","maxLength":50},"password":{"type":"string"},"sid":{"type":"string","maxLength":60},"sidfr":{"type":"string","maxLength":60},"uidnumber":{"type":"integer"},"status":{"type":"integer"},"department":{"type":"string","description":"Should be valid department"},"access_group":{"type":"string","description":"Should be valid access group"},"manager":{"type":"string","description":"Should be valid username"},"deputy":{"type":"string","description":"Should be valid username"}}},"api-v1-hashes-hash.json":{"type":"object","description":"Hash object","required":["branch","owner","rev"],"properties":{"branch":{"type":"string","example":"default"},"owner":{"type":"string","description":"Should be valid username"},"rev":{"type":"string","pattern":"^[0-9a-z]*$"},"chains":{"type":"array","description":"List with delivery chanis","items":{"type":"string"}},"description":{"type":"string"},"files":{"type":"array","description":"List with changed files in this revision","items":{"type":"string"}},"merge_branch":{"type":"string"},"module":{"type":"string"},"repo_path":{"type":"string"},"repo_url":{"type":"string","format":"url"}}}}},"paths":{"\/users":{"get":{"description":"Get users list","operationId":"users.list","tags":["users"],"parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"username","in":"query","schema":{"type":"string"}},{"name":"email","in":"query","schema":{"type":"string"}},{"name":"sid","in":"query","schema":{"type":"string"}},{"name":"sidfr","in":"query","schema":{"type":"string"}},{"name":"uidnumber","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of resource entries","items":{"$ref":"#\/components\/schemas\/api-v1-users-user.json"}}}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/users\/{username}":{"get":{"description":"Get single user","operationId":"users.one","tags":["users"],"parameters":[{"name":"username","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/api-v1-users-user.json"}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes":{"get":{"description":"Get hashes list","operationId":"hashes.list","tags":["hashes"],"parameters":[{"name":"rev","in":"query","schema":{"type":"string"}},{"name":"owner","in":"query","schema":{"type":"string"}},{"name":"repo_url","in":"query","schema":{"type":"string"}},{"name":"repo_path","in":"query","schema":{"type":"string"}},{"name":"branch","in":"query","schema":{"type":"string"}},{"name":"merge_branch","in":"query","schema":{"type":"string"}},{"name":"module","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"name":"made_on","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of resource entries","items":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"}}}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"post":{"description":"Create new hash","operationId":"hashes.create","tags":["hashes"],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"},"required":true}],"responses":{"201":{"description":"Created","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"}}}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes\/{hash_rev}":{"get":{"description":"Get single hash","operationId":"hashes.one","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"put":{"description":"Update hash","operationId":"hashes.update","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/api-v1-hashes-hash.json"}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"delete":{"description":"Delete hash","operationId":"hash.delete","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"Deleted","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}}}}