{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"}],"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"in":"header","name":"X-AUTH-TOKEN","type":"apiKey"},"basic_auth":{"type":"http","scheme":"basic"}},"schemas":{"api-v1-users-create.json":{"type":"object","additionalProperties":false,"required":["name","email","password"],"properties":{"name":{"type":"string","maxLength":50},"email":{"type":"string","format":"email"},"password":{"type":"string"}}},"api-v1-users-update.json":{"type":"object","additionalProperties":false,"required":["name","email","password"],"properties":{"name":{"$ref":"#\/components\/schemas\/api-v1-users-create.json\/properties\/name"},"email":{"$ref":"#\/components\/schemas\/api-v1-users-create.json\/properties\/email"},"password":{"$ref":"#\/components\/schemas\/api-v1-users-create.json\/properties\/password"}}},"api-v1-hashes-create.json":{"type":"object","additionalProperties":false,"required":["branch","owner","rev"],"properties":{"branch":{"type":"string","example":"default"},"owner":{"type":"string"},"rev":{"type":"string","pattern":"^[0-9a-z]*$"},"chains":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"files":{"type":"array","items":{"type":"string"}},"merge_branch":{"type":"string"},"module":{"type":"string"},"repo_path":{"type":"string"},"repo_url":{"type":"string","format":"url"}}},"api-v1-hashes-update.json":{"type":"object","additionalProperties":false,"description":"Search for media in a given area. The default time span is set to 5 days. The time span must not exceed 7 days. Defaults time stamps cover the last 5 days. Can return mix of `image` and `video` types.","required":["branch","owner"],"properties":{"branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/branch"},"owner":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/owner"},"chains":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/chains"},"description":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/description"},"files":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/files"},"merge_branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/merge_branch"},"module":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/module"},"repo_path":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_path"},"repo_url":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_url"}}}}},"paths":{"\/users":{"get":{"description":"Get users list","operationId":"users.list","tags":["users"],"parameters":[],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"post":{"description":"Create new user","operationId":"users.create","tags":["users"],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-users-create.json"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]}},"\/users\/{id}":{"get":{"description":"Get single user","operationId":"users.one","tags":["users"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"put":{"description":"Update user","operationId":"users.update","tags":["users"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-users-update.json"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"delete":{"description":"Delete user","operationId":"users.delete","tags":["users"],"parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]}},"\/hashes":{"get":{"description":"","operationId":"","tags":["hashes"],"parameters":[],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"post":{"description":"Register new hash","operationId":"","tags":["hashes"],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]}},"\/hashes\/{hash_rev}":{"get":{"description":"","operationId":"","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"put":{"description":"","operationId":"","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-update.json"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]},"delete":{"description":"","operationId":"","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"OK"}},"security":[{"api_key":[]}]}}}}