{"openapi":"3.0.1","info":{"description":"MMPI API","version":"1","title":"MMPI API"},"servers":[{"url":"http:\/\/yarnaudov.codixfr.private:8111\/api\/v1\/"},{"url":"http:\/\/localhost:8111\/api\/v1\/"}],"security":[{"api_key":[]}],"components":{"securitySchemes":{"api_key":{"in":"header","name":"X-AUTH-TOKEN","type":"apiKey"}},"schemas":{"responses-success":{"type":"object","properties":{"data":{"description":"List of media entries","items":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"type":"array"}}},"api-v1-hashes-create.json":{"type":"object","additionalProperties":false,"description":"","required":["branch","owner","rev"],"properties":{"branch":{"type":"string","example":"default"},"owner":{"type":"string","description":"Should be valid username"},"rev":{"type":"string","pattern":"^[0-9a-z]*$"},"chains":{"type":"array","description":"List with delivery chanis 21121","items":{"type":"string"}},"description":{"type":"string"},"files":{"type":"array","description":"List with changed files in this revision","items":{"type":"string"}},"merge_branch":{"type":"string"},"module":{"type":"string"},"repo_path":{"type":"string"},"repo_url":{"type":"string","format":"url"}}},"api-v1-hashes-update.json":{"type":"object","additionalProperties":false,"description":"","required":["branch","owner"],"properties":{"branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/branch"},"owner":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/owner"},"chains":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/chains"},"description":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/description"},"files":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/files"},"merge_branch":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/merge_branch"},"module":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/module"},"repo_path":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_path"},"repo_url":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json\/properties\/repo_url"}}}}},"paths":{"\/users":{"get":{"description":"Get users list","operationId":"users.list","tags":["users"],"parameters":[{"name":"name","in":"query","schema":{"type":"string"}},{"name":"username","in":"query","schema":{"type":"string"}},{"name":"email","in":"query","schema":{"type":"string"}},{"name":"sid","in":"query","schema":{"type":"string"}},{"name":"sidfr","in":"query","schema":{"type":"string"}},{"name":"uidnumber","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of media entries","items":{"type":"object"}}}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/users\/{username}":{"get":{"description":"Get single user","operationId":"users.one","tags":["users"],"parameters":[{"name":"username","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of media entries","items":{"type":"object"}}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes":{"get":{"description":"Get hashes list","operationId":"hashes.list","tags":["hashes"],"parameters":[{"name":"rev","in":"query","schema":{"type":"string"}},{"name":"owner","in":"query","schema":{"type":"string"}},{"name":"repo_url","in":"query","schema":{"type":"string"}},{"name":"repo_path","in":"query","schema":{"type":"string"}},{"name":"branch","in":"query","schema":{"type":"string"}},{"name":"merge_branch","in":"query","schema":{"type":"string"}},{"name":"module","in":"query","schema":{"type":"string"}},{"name":"repo_timestamp","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"name":"made_on","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of media entries","items":{"type":"object"}}}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"post":{"description":"Create new hash","operationId":"hashes.create","tags":["hashes"],"parameters":[{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"},"required":true}],"responses":{"201":{"description":"Created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-create.json"}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}},"\/hashes\/{hash_rev}":{"get":{"description":"Get single hash","operationId":"hashes.one","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of media entries","items":{"type":"object"}}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"put":{"description":"Update hash","operationId":"hashes.update","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true},{"name":"body","in":"query","schema":{"$ref":"#\/components\/schemas\/api-v1-hashes-update.json"},"required":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","description":"List of media entries","items":{"type":"object"}}}}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"422":{"description":"Unprocessable Entity","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]},"delete":{"description":"Delete hash","operationId":"hash.delete","tags":["hashes"],"parameters":[{"name":"hash_rev","in":"path","schema":{"type":"string"},"required":true}],"responses":{"204":{"description":"Deleted","content":{"text\/html":{"schema":{"type":"string"}}}},"404":{"description":"Not found","content":{"text\/html":{"schema":{"type":"string"}}}},"500":{"description":"Internal Server Error","content":{"text\/html":{"schema":{"type":"string"}}}}},"security":[{"api_key":[]}]}}}}